<p>{{Titulo}}</p>

<button [routerLink]='["/libro-nuevo"]'class="btn btn-primary">Nuevo</button>

<input [placeholder]="ingreso" type="text"[(ngModel)]= "textoingresado" class="form-control"/>
{{textoingresado}}

<div>
    <button (click)="BuscarLibro()" class="btn btn-">Buscar</button>
</div>

<p *ngIf="!(ListadoLibro.length>0)">La lista de libros esta vacia.</p>

<table class="table table-striped" *ngIf="ListadoLibro.length>0">

    <thead class="table-header"> 
        <tr>  
        <th>Id</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Editorial</th>
        <th>Genero</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let libro of ListadoLibro">
            <td>{{libro.id}}</td> 
            <td>{{libro.titulo | uppercase}}</td>
            <td>
                <span [ngClass]= "{'nombreautor': libro.autor ==='Wilbur Smith'}">
                    {{libro.autor}}
                </span>
            </td> 
            <td>{{libro.editorial | lowercase}}</td>
            <td>
                <span [ngStyle]="{'background-color': libro.genero === 'Ficcion'? 'green' : 'red'}">
                    {{libro.genero}}
                </span>
            </td>
            <td>
                <button class="btn btn-danger"(click)="MostrarMensaje(libro.id)">Stock</button>
            </td>
            <td>
                <button class="btn btn-primary"[routerLink]='["/libro-editar/" + libro.id]'>Editar</button>
            </td>
        </tr>

    </tbody>
</table>